/* NAVBAR */
@media (max-width: 768px) {
    .navbar {
      height: 80px; /* Adjust the height for smaller screens */
    }
  }
.navbar {
    background-color: #182f3fa8 !important; /* Override Bootstrap's .bg-dark color */
}
/* Optional: If you want to change the navbar text color to ensure good contrast */
.navbar-dark .navbar-nav .nav-link {
    color: #182F3F; /* Adjust the color as needed */
}
.navbar-brand {
    color: #182F3F !important; /* Ensure the brand text is also adjusted for contrast */
}
/* Adjust the font size of navbar links */
.navbar-nav .nav-link {
    font-size: 22px; /* Adjust the size as needed */
}
/* Optional: Adjust the font size of the navbar brand */
.navbar-brand {
    font-size: 22px; /* Adjust the size as needed */
}
/* Increases the space between navigation items */
.navbar-nav .nav-item {
    margin-right: 15px; /* Adjust this value as needed */
  }
  .navbar-nav .nav-item:first-child {
    margin-left: 20px; /* Adjust this value as needed */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header-container {
        flex-direction: column; /* Stack items vertically on smaller screens */
        text-align: center; /* Center-align text for smaller screens */
    }
    
    .header-container p {
        font-size: 4vw; /* Adjusts the font size based on the viewport width */
        margin-left: 0; /* Resets the left margin for smaller screens */
        margin-top: 10px; /* Adds some space above the text */
    }
    
    .dummy-logo {
        margin-right: 0; /* Resets the right margin for smaller screens */
    }
}

/* CONTENT */

.content-container {
    background-color: #ffffff31; /* Light background to enhance readability */
    padding: 30px; /* Ample padding for breathing space */
    margin-top: 30px; /* Distance from previous sections */
    margin-bottom: 30px;
    border-radius: 18px; /* Soft rounded corners */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    max-width: 1300px; /* Maximum width for optimal reading line length */
    margin-left: auto; /* Together with margin-right:auto, centers the container */
    margin-right: auto;
}

.dummy-logo {
    max-width: 250px; /* Adjust as needed */
    height: auto;
    margin-right: 15px;
    margin-top: 10px;
}

.content-container p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6; /* Improved line spacing */
    color: #182f3f; /* Darker text for better contrast */
    margin-bottom: 20px; /* Space between paragraphs */
}

.highlight {
    color: #ffffff
    ; /* Text color */
    padding: 0 5px; /* Padding around the text */
    border-radius: 4px;
    font-weight: bold;
}

.btn-fixed-width {
    margin: 0 15px;
    width: 120px;
    background-color: #ffffff5b;
    border-color:#ffffff5b ;
    border-radius: 30px !important;
}

.btn-active {
    background-color: #75c6e1
    !important; /* Bootstrap primary color */
    color: white !important;
    border-color: #75c6e1 !important;
}

#uploadForm {
    margin-top: 20px;
}

#file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#preview img {
    height: 150px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

/* ----------------------------------------------------------------- */

/* TRANSCRIPTION.HTML */
.sticky-logo-container {
    position: sticky;
    top: 0; /* Adjust this value based on your navbar's height */
    z-index: 1000; /* Ensure it stays on top of other content */
    align-self: self-end;
}


/* LOGO */
.transcription-logo {
    max-width: 450px; /* Adjust the logo width as needed */
    height: auto;
    display: block;
    margin: 0 auto; /* Centers the logo horizontally */
    margin-top: 30px;
    margin-bottom: 30px; /* Increased space below the logo */
}

/* CONTAINERS */
.description-container {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.description-container p {
    color: #182F3F;
    font-size: 1.2rem;
}

.form-container  {
    margin-left: 50px;
    margin-bottom: 50px;
    background: #ffffff42;
    border-radius: 5%;
}

.form-container p {
    color: #182F3F;
    font-size: larger;
    font-weight: bold;
}

.form-container h3 {
    color: #182F3F;
}

.score {
    color: #D13480;
    padding: 0 5px;
    border-radius: 4px;
    font-weight: bold;
}

.score2 {
    color: #D13480;
    padding: 0 5px; 
    border-radius: 4px;
    font-weight: 500;
    font-size:medium;
    text-align: right !important;
}

.form-control[name="transcript"] {
    font-style: italic;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;

}

.form-control:not([name="transcript"]) {
    color: #182F3F;
    background-color: #ffffff7a; 
}

.audio-player-container {
    margin-top: 20px;
    color: #ffffff7a; 
}

.form-container .btn-submit {
    display: block; 
    width: auto; 
    margin: 20px auto;
     
}


/* ----------------------------------------------------------------- */
/* RESULT.html */
.bold {
    color: #D13480; /* Emphasizing color */
}

.result h2 {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.result p {
    color: #182F3F;
    font-size: 1.2rem !important;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
