<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NoteWhisperer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <style>
        #uploadForm {
            display: none;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='images/logo_white_cut.png') }}" alt="Logo" height="40">
          </a>
          <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link active" href="#">Home
                  <span class="visually-hidden">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    
<!-- Logo and Title Container -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="NoteWhisperer Logo" class="transcription-logo mb-4">
        </div>
        <div class="col-12 text-center">
            <h2>Voice-Activate your Lab Notes for Hands-Free Experiments.</h2>
        </div>
    </div>
</div>

<div class="content-container">
    <div class="d-flex align-items-center justify-content-start">
        <img src="{{ url_for('static', filename='images/dummy_logo.png') }}" alt="Logo" class="dummy-logo mr-3">
        <div>
            <p class="lead mb-0">Transform your experimental protocols into an audible format with <span class="highlight">NoteWhisperer</span>, your Digital Lab Assistant. <br>Simply upload your notes or protocols and let <span class="highlight">NoteWhisperer</span> read them out loud to You. Keep your workspace clean and your hands free to focus on your experiments without the worry of contaminations.</p>
        </div>         
    </div>

    <!-- Format Selection and Upload Form -->
    <div class="text-center">
        <p class="lead">Tell Me The Format Of Your Notes:</p>
        <div class="btn-group" role="group" aria-label="Document Type">
            <button type="button" id="imageButton" class="btn btn-primary btn-fixed-width" onclick="highlightButton('image')">Image</button>
            <button type="button" id="pdfButton" class="btn btn-primary btn-fixed-width" onclick="highlightButton('pdf')">PDF</button>
        </div>   
    </div>

    <form id="uploadForm" class="p-3 text-center" action="/" method="post" enctype="multipart/form-data" style="display: none;">
        <input id="file-upload" class="form-control" type="file" name="imagefiles" accept="" multiple onchange="previewFiles()">
        <div id="preview"></div>
        <input class="btn btn-primary mt-3" type="submit" value="Transform Notes">
    </form>
</div>


<script>
    function highlightButton(selectedType) {
        var imageButton = document.getElementById('imageButton');
        var pdfButton = document.getElementById('pdfButton');
        var fileInput = document.getElementById('file-upload');
        var form = document.getElementById('uploadForm');

        // Remove active class from both buttons
        imageButton.classList.remove('btn-active');
        pdfButton.classList.remove('btn-active');

        // Apply active class to the selected button and set the input accept attribute
        if (selectedType === 'image') {
            imageButton.classList.add('btn-active');
            fileInput.setAttribute('accept', '.jpg, .jpeg, .png');
        } else if (selectedType === 'pdf') {
            pdfButton.classList.add('btn-active');
            fileInput.setAttribute('accept', '.pdf');
        }

        // Display the form
        form.style.display = 'block';
    }

    function previewFiles() {
        var preview = document.getElementById('preview');
        var files = document.getElementById('file-upload').files;

        // Clear existing previews
        preview.innerHTML = '';

        function readAndPreview(file) {
            // Check if the file is an image (JPEG/PNG/PDF)
            if (/\.(jpe?g|png|pdf)$/i.test(file.name)) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var image = new Image();
                    image.height = 250;
                    image.title = file.name;
                    image.src = e.target.result;
                    preview.appendChild(image);
                };
                reader.readAsDataURL(file);
            }
        }

        // Read and preview each selected file
        if (files) {
            [].forEach.call(files, readAndPreview);
        }
    }
</script>


    {% if message %}
    <div class="alert alert-danger text-center" role="alert">
        {{ message }}
    </div>
    {% endif %}
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/js/bootstrap.bundle.min.js">

</script>

</body>
</html>
